<h1 class="text-center my-4">About Pokémon Hub</h1>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Welcome to Pokémon Hub!</h2>
          <p class="card-text">This website allows you to view and explore various Pokémon species. You can browse through different categories, view detailed information about each Pokémon, and more.</p>
          <p class="card-text">Here are some features of our website:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Browse Pokémon by category</li>
            <li class="list-group-item">View detailed information about each Pokémon, including species, types, abilities, and more</li>
            <li class="list-group-item">Use the search functionality to quickly find your favorite Pokémon</li>
          </ul>
          <p class="card-text mt-3">We hope you enjoy using Pokémon Hub!</p>
        </div>
      </div>
    </div>
  </div>
</div>
