<h1 class="text-center my-4">About Pokémon Hub</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Welcome to Pokémon Hub!</h2>
          <p class="card-text">This website allows you to view and explore various Pokémon species. You can browse through different categories, view detailed information about each Pokémon, and more.</p>
          <p class="card-text">Here are some features of our website:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Browse Pokémon by category</li>
            <li class="list-group-item">View detailed information about each Pokémon, including species, types, abilities, and more</li>
            <li class="list-group-item">Use the search functionality to quickly find your favorite Pokémon</li>
          </ul>
          <p class="card-text mt-3">We hope you enjoy using Pokémon Hub!</p>
          
          <!-- Image inclusion -->
          <img src="/assets/Screenshot 2024-07-03 111644-8ffcb1b469a33f832c2432cd785bce8d93f74b063fc8751c94be40ce337655d9.png" />

          <!-- Description of the dataset -->
          <h2 class="card-title mt-4">Our Dataset</h2>
          <p class="card-text">The Pokémon Hub fetches data from a comprehensive GraphQL API provided by <a href="https://graphqlpokemon.favware.tech/v8" target="_blank">Favware's GraphQL Pokémon API</a>. This API allows us to access detailed information about each Pokémon species, including their types, abilities, base stats, and more. By using this powerful API, we ensure that our users have access to the most accurate and up-to-date information about their favorite Pokémon.</p>
        </div>
      </div>
    </div>
  </div>
</div>
